streamlit
langchain==0.2.16
langchain-core==0.2.39
langchain-community==0.2.16
langchain-groq==0.1.9
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
wikipedia
numexpr
langchain-text-splitters
langchain-openai
chromadb
ipykernel
langchain_huggingface
huggingface_hub
faiss-cpu
langchain_chroma
duckdb
pandas
openai
duckduckgo-search
pymupdf
arxiv
mysql-connector-python

